<!DOCTYPE html>
<html>
    <head>
		<title>mHealth Hello World</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<!--<style>
						html, body, #map-canvas {
										height: 100%;
										margin: 0px;
										padding: 0px
						}
		</style>-->
		<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="//www.parsecdn.com/js/parse-1.6.14.min.js"></script>


		<!-- BOOTSTRAP STUFF -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </head>
    <body>
        <div id="body">
        	<div class="table-responsive">
        		<table class="table">
        			<thead>
        				<tr>
        					<th>objId</th>
        					<th>createdAt</th>
        					<th>Speed</th>
        					<th>Type</th>
        					<th>X</th>
        					<th>Y</th>
        					<th>Z</th>
    					</tr>
        			</thead>
        			<tbody id="data_body">
        			</tbody>
        		</table>
        	</div>
        </div>
    </body>
    <script type="text/javascript">
    	var lastChecked;
		Parse.initialize("KMmuZVHB7fVu58rOKXYjvxjYhXPP9sVuocAjBh6D", "mkDIUoEbOz4fIXeRvaiAYD3msdIJd9lLrm8OFFkS");
		

		//var user = new Parse.User();
		//user.set("username", "");

		

		function logIn(){
			Parse.User.logIn("Ko5qXp2aiQ29zB1lVMLTvhOK1", "catdog", {
				success: function(user) {
					// Do stuff after successful login.
					console.log("Logged in");
					//queryForNewData();
					doPoll();
				},
				error: function(user, error) {
					// The login failed. Check error to see why.
					console.log("login error : " + error.message);
					if (error.code == Parse.Error.INVALID_SESSION_TOKEN){
						Parse.User.logOut();
						logIn();
					}
				}
			});
		}

		function queryForNewData(){
			var HelloWorld = Parse.Object.extend("HelloWorld");
			var query = new Parse.Query(HelloWorld);
			query.descending('createdAt');
			var newLastChecked;
			//query.limit = 200;
			var numResults = 0;
			if (lastChecked){
				console.log("lastChecked is " + lastChecked);
				query.greaterThan("createdAt", lastChecked);
			} else {
				console.log("first run?");
			}

			query.find({
				success: function(results) {
					//console.log(results);
					numResults = results.length;
					console.log("Successfully retrieved " + numResults + " data points");
					// Do something with the returned Parse.Object values
					
					if (numResults > 0){
						newLastChecked = results[0].get("createdAt");
						console.log("newLastChecked set to " + newLastChecked)
						for (var i = 0; i < results.length; i++) {
							var object = results[i];
							createdAt = results[i].get("createdAt");
							if (createdAt > newLastChecked){
								newLastChecked = createdAt;
							}
							addRow(object);
							//console.log(object.id + ' - ' + object.get('type'));
						}
							lastChecked = newLastChecked;
							//var d = new Date();
							//lastChecked = new Date(d.getTime());
							console.log("newLastChecked == " + newLastChecked);
							console.log("lastChecked == " + lastChecked);
					}
			  	},
				error: function(error) {
					console.log("Error: " + error.code + " " + error.message);
				}
			});
			

		}

		function addRow(result){
			var objId = result.id;
			var createdAt = result.get("createdAt");
			var speed = result.get("speed");
			var type = result.get("type");
			var x = result.get("x");
			var y = result.get("y");
			var z = result.get("z");

			var tr="<tr>\
						<td>" + objId + "</td> \
						<td>" + createdAt + "</td> \
						<td>" + speed + "</td> \
						<td>" + type + "</td> \
						<td>" + x + "</td> \
						<td>" + y + "</td> \
						<td>" + z + "</td> \
					</tr>"
			$('#data_body').prepend(tr)		
		}

		function doPoll(){
			//poll for new Data
			queryForNewData()
			setTimeout(doPoll, 2000);
		}

		logIn();

    </script>
</html>